%table{class: 'list'}
  %tr
    %td{colspan: 11}
      .service-control
        = link_to image_tag('create.png'), new_service_path, title: t(:add_new,:model=>Service.model_name.human), class: 'new-service'
        = render partial: 'show_all'
  %tr
    %th= link_to Service.human_attribute_name(:name), :action => :sort, :field => :name
    %th= link_to Service.human_attribute_name(:ngroup), :action => :sort, :field => :ngroup
    %th= link_to Service.human_attribute_name(:position), :action => :sort, :field => :position
    %th= link_to Service.human_attribute_name(:host), :action => :sort, :field => :host
    %th= link_to Service.human_attribute_name(:fund), :action => :sort, :field => :fund
    %th= link_to Service.human_attribute_name(:setting), :action => :sort, :field => :setting
    %th= link_to Service.human_attribute_name(:frame), :action => :sort, :field => :frame
    %th= link_to Service.human_attribute_name(:trigger), :action => :sort, :field => :trigger
    %th= link_to Service.human_attribute_name(:refresh), :action => :sort, :field => :refresh
    %th= link_to Service.human_attribute_name(:active), :action => :sort, :field => :active
    %th= link_to Service.human_attribute_name(:status), :action => :sort, :field => :status
    %th= link_to Service.human_attribute_name(:updated), :action => :sort, :field => :updated_at
    %th= Service.human_attribute_name(:action)
    -#%th= Service.human_attribute_name :
  - @services.each do |service|
    %tr
      %td= link_to service.sname, {action: :show, id: service.id}
      -#%td= link_to service.sname, {action: :edit, id: service.id}
      %td= service.ngroup
      %td= service.position
      %td= link_to service.host.name, {controller: :services, action: :host, name: service.host.name} if service.host
      -#%td= link_to service.group, {controller: :services, action: :group, name: service.group} if service.group
      %td= link_to service.fund.name, {controller: :funds, action: :show, id: service.fund.id} if service.fund
      %td= link_to service.setting.name, {controller: :settings, action: :show, id: service.setting.id} if service.setting
      %td= link_to service.frame.name, {controller: :services, action: :frame, name: service.frame.name} if service.frame
      %td= link_to service.trigger.name, {action: :show, id: service.trigger.id} if service.trigger
      %td= service.refresh
      %td= boolean_tag(service.active?)
      -#%td= button_to 'start', "/service/start/#{service.id}"
      %td{title: service.message}= service.state.name if service.state
      %td{title: (l(service.state.time, format: :standard) if service.state)}= l(service.state.time, format: :h_m_s) if service.state
      -#%td= boolean_tag(service.single?)
      %td
        = link_to 'load', {action: :action, name: :load, id: service.id}
        = link_to 'start', {action: :action, name: :start, id: service.id}
        = link_to 'check', {action: :action, name: :check, id: service.id}
        = link_to 'stop', {action: :action, name: :stop, id: service.id}
        = link_to 'unload', {action: :action, name: :unload, id: service.id}

