%table{class: 'list'}
  %tr
    %th= 'source'
    %th= 'value'
    %th= 'level'
    %th= 'recipient'
  - @node.lines.each do |line|
    %tr
      %td= line.source.name
      %td= line.value
      %td= line.level
      %td= line.target.name
