%table{class: 'list'}
  %tr
    %th= 'source'
    %th= 'value'
    %th= 'level'
    %th= 'recipient'
  - @node.nerves.each do |nerve|
    %tr
      %td= nerve.source.name
      %td= nerve.value
      %td= nerve.level
      %td= nerve.recipient.name
