%table{:class => 'list'}
  %tr
    %th{:rowspan => 2}= Fund.human_attribute_name(:name)
    -#%th= Fund.human_attribute_name(:isin)
    -#%th= Fund.human_attribute_name(:symbol)
    %th{:rowspan => 2}= Fund.human_attribute_name(:category)
    -#%th= Fund.human_attribute_name(:market)
    -#%th= Fund.human_attribute_name(:exchange)
    -#%th= Fund.human_attribute_name(:location)
    %th{:rowspan => 2}= Fund.human_attribute_name(:rate)
    %th{:colspan => Strategy.list.size}= Strategy.model_name.human
  %tr
    - Strategy.list.each do |strategy|
      %th= strategy.name

  - @funds.each do |fund|
    %tr
      %td= link_to fund.name, fund
      -#%td= fund.isin
      -#%td= fund.symbol
      %td= fund.category
      %td= fund.rate
      -#%td= fund.market
      -#%td= fund.exchange
      -#%td= fund.location
      - Strategy.list.each do |strategy|
        %td= strategy.light
